<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emie's Bouncing Balls</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <div class="heading">
        <h1>Bouncing Balls</h1>
        <h3>by Emie Watin Abalora</h3>
        <p>Bouncing Ball project implements Runnable
            so that each ball can possess its thread that helps with
            creating/starting/managing/stopping threads in the program.
            Each ball maintains its attributes such as size, coordinates,
            color, velocity, and boundary limits.  Accessor and Mutator methods
            are available for each respective attribute to allow
            BallPanel to maintain a Ball's creation and positioning.</p>
        <img src="pictures/application.png" alt="application-img">
    </div>

</body>
</html>